* {
    padding: 0;
    margin: 0;
}
.bottom {
    background-color: rgb(244,244,244); 
}   
.head {
    z-index: 2;
    width: 100%;
    height: 50px;
    background-color: rgb(244,244,244);
    box-shadow: 4px 4px 10px grey;  
}
.logo {
    display: inline-block;
    position: relative;
    left: 20%;
    top: 7px;
}
/*搜索栏*/
.search {
    display: inline-block;
    background-color: rgb(255,255,255);
    width: 15%;
    height: 30px;
    transform: translate(-50%,-50%);
    border: 0.5px solid rgb(218,218,218); 
    border-radius: 15px;
    position: relative;
    left: 70%;
    top:7px;

}
.search-box {
    line-height: 30px;
    height: 30px; 
    width: 70%;
    border: none;
    outline: medium;
    position: relative;
    left: 15px; 
    display: inline-block;
}
.search-img {
    width: 10%;
    height: 30px;
    position: relative;
    top: 6px;
}

/*轮播图*/

#container3{
    width: 1519.2px;
    height: 235.6px;
    position: relative;
    overflow: hidden;
    margin:auto;
}
#inner-list{
    width: 400%;
    height: 235.6px;
    position: absolute;
    list-style-type: none;
    float: left;
}
#inner-list li {
    width: 1519.2px;
    height: 235.6px;
    float: left;   
}

.img {
    width: 100%;
    height: 235.6px;
}

#dot-list{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;

}
#dot-list li{
    display: inline-block;
    width: 20px;
    height:20px;
    border-radius: 50%;
    background: rgb(77,73,71);
    color: rgb(77,73,71);
    cursor: pointer;
    margin-right: 10px;
}
#dot-list li.cur{
    background: rgb(217,210,207);
    color: rgb(217,210,207);
}

/*内容*/
.warp {
    width: 80%;
    height: 1500px;
    margin: 0 10% 100px 10%;
}
.column {
    width: 80%;
    height: 30px;
    border-bottom: 0.5px solid grey;
    margin: 0 10% 0 10%;
    padding-top: 70px
}
.fenlei {
    width: 6%;
    height: 30px;
    line-height: 30px;
    color: grey;
    float: left;
}
.lei {
    width: 6%;
    height: 30px;
    line-height: 30px;
    color: black;
    float: left;
    cursor:pointer;
    text-align:center;
}

.container{
    width: 80%;
    height: 1200px;
    padding: 20px 10% 100px 10%;

}
.content1 {
    width: 25%;
    height:600px;
    float: left;
    padding: auto;
    padding-bottom: 50px;
}
.content1-img {
    width:90%;
    height: 400px;
    padding: 0 5% 0 5%;
}
.content1-text1 {
    width:90%;
    height: 50px;
    padding: 0 5% 0 5%;
    text-align: center;
}
.content1-text2 {
    width:90%;
    height:50px;
    padding: 0 5% 0 5%;
    text-align: center;
}
.content1-text3 {
    width:90%;
    height: 50px;
    padding: 0 5% 0 5%;
    text-align: center;
}
.content1-text4 {
    width:200px;
    padding: 0px 25px;
    text-align: center;
    color: rgb(224,224,224);
}
/*内容*/
.container2 {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    
}
.prev {
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: rgb(61,61,61);
    text-align: center;
    text-decoration: none;
    float: left; 
}
.container2 .buttons{
   width: 150;
   height: 30px;
   float: left;
}
.container2 .buttons span{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    color: rgb(61,61,61);
    cursor: pointer;
}
.container2 .buttons span.on{
    background-color: rgb(61,61,61);
    color: #ffffff;
}
.next {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: rgb(61,61,61);
    text-decoration: none;
    float: left; 
}
.page-text {
    width: 100%;
    height: 50px;
    text-align: center;
    padding: auto;
}